@page
@model Tashpa11.Pages.Students.MangeMyCoursesModel
@{
}
<div class="active_buttons"">
    <input type="button" value="Show All Courses" class="admin-button" onserverclick="RenderCourses"  />
    <button type="button" value="Add Course" class="admin-button" onserverclick="ShowAddCourses" >Add Course</button>
    <button type="button" value="Delete Course" class="admin-button" onserverclick="ShowDeleteCourse" >Delete Course</button>
</div>
<div id="List">@Html.Raw(@Model.List)</div>


  @* Add Insert part *@

<div id="active_input" style="@Model.active_input">
    <input type="text" id="newCourseName" class="input_field" placeholder="Course Name" runat="server" />
    <input type="text" id="newCourseNumber" class="input_field" placeholder="Course Number" runat="server" />
    <input type="text" id="newCourseTeacher" class="input_field" placeholder="Teacher" runat="server" />
</div>
<div >
    <input type="button" value="Insert" id="submitNewButton" style="@Model.submitNewButton" onserverclick="InsertCourse" runat="server" />
    <span id="insertMSG" style="color: red; font-size: 1.5em; position: absolute" runat="server"></span>
</div>

  @* Delete part *@

<div id="delete_input" style="@Model.delete_input">
    <input type="text" id="deleteCourseName" class="input_field" placeholder="Course Name to Remove" runat="server" />
    <input type="text" id="deleteCourseNumber" class="input_field" placeholder="Course Number to Remove" runat="server" />
    <input type="text" id="deleteCourseTeacher" class="input_field" placeholder="Teacher to Remove" runat="server" />
</div>
<div >
    <input type="button" value="Delete" id="deleteButton" style="@Model.deleteButton"  onserverclick="DeleteCourse"  />
    <span id="deleteMSG" style="color: red; font-size: 1.5em; position: absolute" ></span>
</div>
@Model.msg
